<!-- Footer -->
<footer class="page-footer font-small bg-secondary pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h5 class="mb-1">Cadastre-se</h5>
        </li>
        <li class="list-inline-item">
          <a href="#!" class="btn btn btn-outline-light btn-rounded">Sign up!</a>
        </li>
      </ul>
      <!-- Call to action -->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright bg-dark text-center py-3 ">
        <span class="text-light"> © 2020 Copyright: </span> 
        <a class="text-light" href="https://brasil.generation.org"> brasil.generation.org</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->