<div class="container">
    <h1 class="d-flex justify-content-center mt-4 mb-5">Pesquisa por nome</h1>
    <div class="form-inline my-2 my-lg-0 d-flex justify-content-center">
        <input class="form-control mr-sm-2" type="search" [(ngModel)]="nome" placeholder="Pesquisar por nome" aria-label="Pesquisar" (change)="findByNameCategoria()" >
        <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="findByNameCategoria()" >Pesquisar</button>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5 mt-5 d-flex justify-content-center align-items-center">
                <div class="card mb-5 mr-4 ml-4" style="width: 18rem;" *ngFor="let categoria of listaCategorias">
                    <div class="card-body">
                      <h5 class="card-title">{{ categoria.descricao }}</h5>
                      <p class="card-text">Código: {{ categoria.id }}</p>
                      <img src="data:image/jpeg;base64,{{ categoria.foto }}" alt="">
                      <a href="#" class="btn btn-primary" [routerLink]="['/postCategorias', categoria.id]">Editar</a>
                      
                    </div>
                  </div>
            </div>
        </div>  
        </div>
</div>



