<div class="container">

    <div class="row mt-4 mb-4">
        <div class="col-md-12 d-flex justify-content-center">
            <h1>Fale conosco</h1>
        </div>
    </div>
    
    <div class="row mb-5 d-flex align-items-center">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" aria-describedby="nome" placeholder="Nome completo">
                </div>
                <div class="form-group">
                  <label for="email">Endereço de email</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Seu email">
                  <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                </div>
                <div class="form-group">
                    <label for="mensagem">Mensagem</label>
                    <textarea class="form-control" id="mensagem" rows="3" placeholder="Digite sua mensagem aqui"></textarea>
                  </div>
                
               
                <button type="submit" class="btn btn-secondary">Enviar</button>
              </form>        
        </div>
        <div class="col-md-4">
            <h2>Onde estamos?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime molestias.</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3656.9482456157853!2d-46.64731538467296!3d-23.57030218467837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce59bd92bce431%3A0xc37ded133806ef0b!2sAv.%20Paulista%2C%20100%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2001310-000!5e0!3m2!1spt-BR!2sbr!4v1584720550070!5m2!1spt-BR!2sbr" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

        </div>
    </div>
</div>






